<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/dancer.js"></script>

</head>
<body ng-app="DancerApp" ng-controller="DancerController">
<h1>{{title}}</h1>
<% content %>
<img src="/images/perldancer.jpg">
<div>
<img src="/images/dcr-header-logo.png">
</div>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</div>
</body>
</html>
